<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') -%>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="container contract flex fv-center">
        <div class="contract-box container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h3>Nội dung công việc</h3>
                    <p><%= contract.description %></p>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-12 border border-secondary">
                    <h5>Thông tin khách hàng</h5>
                    <div class="row">
                        <div class="col-lg-8 offset-lg-1 col-md-8 col-8">
                            <p><%= contract.recruiterName %></p>
                        </div>
                    </div>
                    <h5>Thông tin Freelancer</h5>
                    <div class="row">
                        <div class="col-lg-8 offset-lg-1 col-md-8 col-8">
                            <p><%= contract.freelancerName %></p>
                        </div>
                    </div>
                    <h5>Thông tin hợp đồng</h5>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <p>Tên dự án</p>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-6">
                            <p><%= contract.title %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <p>Ngày lập hợp đồng</p>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-6">
                            <p><%= contract.acceptDate.toLocaleDateString() %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <p>Lương</p>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-6">
                            <p><%= contract.salary %></p>
                        </div>
                    </div>
                    <% if (contract.recruiterId == id && !contract.finished) { %>
                        <form action="/contract/<%= contract._id %>?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-primary">Finish</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>