<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') -%>

<body>
    <%- include('./partials/header.ejs') %>

    <div class="container job-detail flex f-center">
        <div class="job-detail-box container-fluid">
            
            <div class="row job-detail-content">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2 class="job-detail-title"><%= job.title %></h2>
                    <p>
                        <%= job.description %> 
                    </p>
                    <p class="job-skill">Kỹ năng</p>
                    <div class="flex">
                        <% job.tags.forEach(tag => { %>
                            <div class="badge badge-warning"><%= tag %></div>
                        <% }) %>
                    </div>
                    <% if (role === "author") { %>
                        <button data-toggle="modal" data-target="#EditJob">Chỉnh sửa công việc</button>
                        <form action="/job/<%= job._id %>?_method=DELETE" method="POST">
                            <button type="submit">Xoa cong viec</button>
                        </form>
                        <div class="modal fade " id="EditJob">
                            <form action="/job/<%= job._id %>?_method=PUT" method="POST">
                                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title">Đăng việc</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-fill">
                                                <p>Tên công việc</p>
                                                <input name="title" type="text" 
                                                    placeholder="VD: Thiết kế web bán hàng đa cấp"
                                                    value="<%= job.title %>"
                                                    required>    
                                            </div>
    
                                            <div class="modal-fill">
                                                <p>Chi tiết công việc</p>
                                                <textarea name="description" 
                                                    type="text"
                                                    placeholder="VD: Các giao diện cần thiết như trang chủ, xem hàng, thanh toán,..." required rows="5" cols="90">
                                                    <%= job.description %>
                                                </textarea>
                                            </div>
                                            
                                            <div class="modal-fill">
                                                <p>Yêu cầu kỹ năng, framework, ...</p>
                                                <input name="tags" 
                                                    type="text" 
                                                    value="<%= job.tags.join(',') %>"
                                                    placeholder="VD: HTML,CSS,JS,..." required>
                                            </div>
                                            
                                            <div class="modal-fill">
                                                <p>Hạn nhận chào giá</p>
                                                <input name="expiration" 
                                                    type="date" 
                                                    value="<%= job.expiration %>"
                                                    required>
                                            </div>
                                            
                                            <div class="modal-fill">
                                                <p>Tiền trả công việc</p>
                                                <input name="paidMin" 
                                                    type="number" 
                                                    placeholder="Từ" 
                                                    value="<%= job.paidMin %>"
                                                    required> 
                                                - 
                                                <input name="paidMax" 
                                                    type="number" 
                                                    placeholder="Đến" 
                                                    value=<%= job.paidMax %> 
                                                    required> VND
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning btn-lg btn-block" type="submit">Chỉnh sửa</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <% } %>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-12 col-sm-12 col-12 border border-secondary">
                    <h5>Thông tin dự án</h5>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <p>Ngày đăng</p>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-6">
                            <p><%= job.createDate.toDateString() %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <p>Hạn chót</p>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-6">
                            <p><%= job.expiration.toDateString() %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <p>Ngân sách</p>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-6">
                            <p><%= job.paidMin %>  đ - <%= job.paidMax %>  đ</p>
                        </div>
                    </div>
                    <br>
                    <h5>Thông tin khách hàng</h5>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-4">
                            <img src="/img/user.svg" alt="Ảnh đại diện" style="width: 100px;height: 100px;">
                        </div>
                        <div class="col-lg-8 offset-lg-1 col-md-8 col-8">
                            <p><%= job.recruiterName %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% if (role === "user" && cmtAllowed) { %>
            <form action="comment/<%= job._id %>" method="POST">
                <div class="jumbotron p-1">
                <div class="form-group">
                  <textarea name="applyReason" class="form-control" placeholder="Reasons to apply" required></textarea>
                </div>
                <div class="form-row align-items-center">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Bid amount (VND)</label>
                    <div class="col-sm-2">
                      <input name="bid" type="number" min="<%= job.paidMin %>" max="<%= job.paidMax %>" class="form-control form-control-sm" id="colFormLabelSm" placeholder="<%= job.paidMax %>" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 text-center">
                      <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </div>
                </div>
              </form>
            <% } %>
            <% job.comments.forEach(comment => { %>
                <div class="row border bg pt-4 pb-5 mb-4">
                    <div class="col-lg-5 col-md-9 col-sm-8 col-12">
                        <div class="row">
                            <div class="col-sm-2 col-md-3 col-sm-4 col-12 text-center">
                                <a href="/user/<%= comment.freelancerId %>">
                                    <img src="/img/user.svg" alt="Ảnh đại diện" style="width: 50px;height: 50px;">
                                </a>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                                    <h5><%= comment.freelancerName %></h5>
                                </div>
                            </div>
                            <div class="col-sm-5"><%= comment.applyReason %></div>
                            <div class="col-sm-3">Bid: <%= comment.bid %></div>
                            <% if (role === "author") { %>
                            <div class="col-md-2 col-sm-5 col-5 text-right pull-right">
                                <button class="btn btn-success" data-toggle="modal" data-target="#DealJob">
                                    Accept
                                </button>
                            </div>
                            <% } %>
                            <div class="col-md-2 col-sm-5 col-5 text-right pull-right">
                                <form action="/job/comment/<%= job._id %>?_method=DELETE" method="POST">
                                    <button type="submit">
                                        Delete
                                    </button>
                                </form>
                            </div>
                            <div class="modal fade" id="DealJob">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title">Thỏa thuận</h1>
                                        </div>
                                        <div class="modal-body row">
                                            <div class="col-md-10 offset-md-2">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                                        <p>Tên nhà tuyển dụng</p>
                                                    </div>
                                                    <div class="col-lg-9 col-md-6 col-sm-6 col-6">
                                                        <p><%= job.recruiterName %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                                        <p>Tên Freelancer</p>
                                                    </div>
                                                    <div class="col-lg-9 col-md-6 col-sm-6 col-6">
                                                        <p><%= comment.freelancerName %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                                        <p>Ngày deal</p>
                                                    </div>
                                                    <div class="col-lg-9 col-md-6 col-sm-6 col-6">
                                                        <p>3/12/2020</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                                        <p>Gía thoả thuân</p>
                                                    </div>
                                                    <div class="col-lg-9 col-md-6 col-sm-6 col-6">
                                                        <p><%= comment.bid %> đ</p>
                                                    </div>
                                                </div>
                                                <div class="login-check">
                                                    <input type="checkbox"> Chấp nhận các <b>điều khoản</b> của thỏa thuận
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning btn-lg btn-block" type="submit">Accept</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>

</html>