<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') -%>

<body>
    
    <% if (form === 'signup') { %>
        <%- include ("./partials/messages") %>
        <%- include('./signup') -%> 
    <% } else { %>
        <%- include ("./partials/messages") %>
        <%- include('./login') -%> 
    <% } %>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>

</html>