<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') -%>

<body>
    <%- include('./partials/header.ejs') %>

    <main class="container all-job flex f-center">
        <aside class="panel col-md-3 d-none d-md-block border border-primary mr-3">
            <button class="btn btn-outline-warning btn-lg ml-4" type="submit">Apply filters</button>
        </aside>
        <div class="panel col-md-8 col-12 text-center border border-primary">
            <nav class="flex f-space-between">
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Sort</button>
            </nav>
            <article class="job-list">
                <% jobs.forEach(job => { %>
                    <a class="job-link" href="<%= `/job/${job._id}` %>" >
                        <section class="job-card" job-id="<%= job._id %>" >
                            <header class="flex f-space-between">
                                <h3 class="title text-left"><%= job.title %></h3>
                                <div class="price text-right"><%= job.paidMin %> đ - <%= job.paidMax %> đ</div>
                            </header>
                            <main>
                                <p class="text-left summary"><%= job.description %></p>
                            </main>
                            <footer class="flex f-space-between">
                                <div class="flex">
                                    <% job.tags.forEach(tag => { %>
                                        <div class="badge badge-warning"><%= tag %></div>
                                    <% }) %>
                                </div>
                                <div class="deadline">Hạn nhận hồ sơ: <%= job.expiration.toDateString() %></div>
                            </footer>
                        </section>
                    </a>
                    
                <% }) %>
            </article>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>

</html>