<main class="h-100vh flex f-center fv-center">
    <form class="form flex f-column f-center" action="/login" method="POST">
        <h2 class="form-title text-light">Đăng nhập</h2>
        <div class="form-fill">
            <p>Email</p>
            <input type="email"
                    placeholder="yourmail@mail.com"
                    name="email"
                    id="login-email"
                    fill="<%- error.length > 0 ? (error[0].title == "email" || error[0].title == "all" ? "invalid" : "") : "" %>"
                    value="<%- error.length > 0 ? error[0].email : "" %>"
                    >
            <p id="login-email-error" class="invalid-message">
                <%- error.length > 0 ? (error[0].title == "email" || error[0].title == "all" ? error[0].message : "") : "" %>
            </p>
        </div>
        <div class="form-fill">
            <p>Mật khẩu</p>
            <input type="password"
                    placeholder="Mật khẩu"
                    name="password"
                    id="login-password"
                    fill="<%- error.length > 0 ? (error[0].title == "password" || error[0].title == "all" ? "invalid" : "") : "" %>"
                    value="<%- error.length > 0 ? error[0].password : "" %>"
                    >
            <p id="login-password-error" class="invalid-message">
                <%- error.length > 0 ? (error[0].title == "password" || error[0].title == "all" ? error[0].message : "") : "" %>
            </p>
        </div>
        <button class="form-submit" id="login" type="submit" disabled="disabled">Đăng nhập</button>
        <p class="text-light">Chưa tạo tài khoản? <a href="/signup">Tạo tài khoản mới ở đây!</a></p>    
    </form>
</main>

